.label
{
    position:absolute;
     width:80px;
     height:40px;
     background-color:lightgrey;
     border-radius:20px;
}
.input
{
    visibility: hidden;
}
body
{
  margin:0;
  display:flex;
  justify-content: center;
  height:100vh;
  align-items: center;
  transition: .4s;

}
.circle
{
    width:34px;
    height:34px;
    background-color: rgb(254, 254, 254);
    border-radius:50%;
    top:3px;
    position:absolute;
    cursor:pointer;
    left:3px;
}
.input:checked + .label{
    background-color:rgb(251, 249, 248);
}
.input:checked + .label .circle{
    animation:toggleOn .4s linear forwards;
    background-color: black;
}
@keyframes toggleOn
{
    0%{
        transform:translateX;

    }
    100%
    {
        transform:translateX(40px);
    }
}